<nav>
    <!-- boton para menu -->
    <input type="checkbox" id="check" />
    <label for="check" class="check-btn">
        <div class="hamburger-menu" id="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </label>
    <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/#Producto">Productos</a></li>
        <li><a href="/#aside">Acerca de</a></li>
        <li><a href="/#contacto">Contacto</a></li>
        <li><a href="/clientes">Clientes</a></li>
    </ul>
    <a href="/auth" class="nav-login-btn">Iniciar Sesión</a>
</nav>
